body{
  background: #f6f6f6
}
.tabler{
  background: white;
}
table thead input.form-control{
  font-weight: bold;
}
table .controls input.form-control {
  border: 1px solid #ced4da;
  font-weight: normal;
}
table input {
  border: none
}
.table td, .table th{
  padding: 0.2rem;
  position: relative;
}
input.form-control, button.btn{
  border: none;
  padding: 0.2rem 0.4rem;
  height: unset;
  margin-bottom: 0.2rem;
  margin-left: 0.2rem;
}
button, input.form-control{
  font-size: 0.8rem;
}
.table td.match{
  font-style: italic;
  text-decoration: underline;
}
.icon{
  font-family: sans;
}
#displayRows{
  white-space: nowrap;
  padding: 0.2rem 0.4rem;
}
